.carousel-item img {
  width: 50px;
  height: 400px;
  max-height: 1500px;
  border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;
border: 0px solid #000000;

}
.carousel-inner{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.imgnormalizada img {
  
}
.container {
    margin-top: 50px;
    
     
}

.floating-card {
        float: left;
        margin: 5px;
        max-width: 300px;

    }
    .card{
        margin:1%
    }
    .card-group [class*='col-'] {
  float:none;
}

.card{
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;
border: 0px solid #000000;
}

body{
    background-image: url("../img/vintage-wallpaper.png");
}